<div class="partial" id="clients_partial" style="display:none;">
	<hr class="clients-line-top">
	<div class="clients-info">
		<div><%= image_tag image_path('herring.jpg'), class: "img-responsive herring-img center-block" %></div>
		<div><%= image_tag image_path('sports.jpg'), class: "img-responsive sports-img center-block" %></div>
		<div><%= image_tag image_path('babka.jpg'), class: "img-responsive babka-img center-block" %></div>
		<div><%= image_tag image_path('butterbuddy.jpg'), class: "img-responsive butterbuddy-img center-block" %></div>
		<div><%= image_tag image_path('blicard.jpg'), class: "img-responsive blicard-img center-block" %></div>
		<div><%= image_tag image_path('original.jpg'), class: "img-responsive original-img center-block" %></div>
	</div>
<div><hr class="clients-line-bottom"></div>
	<center><p class="clients-bottom-info">© 2016   J.P. Jennings, Co.  Bethlehem, PA.  All Rights Reserved.</p></center>	