<div class="container-fluid top-layer">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center top-page">
         <div class="spacer"></div>
         <div class="col-xs-12 col-md-12 text-center">
           
            <%= image_tag image_path('jpjenningslogo.png'), class: "img-responsive main-img center-block" %>
            <div class="text-wrapper">
                <hr class="line-break">
                <div class="col-xs-2"></div>
                <div class="col-xs-2 main-page-link lead"><a href="#about-section" onclick="handleMainPageLink('ABOUT')">ABOUT</a></div>
                <div class="col-xs-2 main-page-link lead"><a href="#services-section" onclick="handleMainPageLink('SERVICES')">SERVICES</a></div>
                <div class="col-xs-2 main-page-link lead"><a href="#contact-section" onclick="handleMainPageLink('CONTACT')">CONTACT</a></div>
                <div class="col-xs-2"></div>
            </div>
             <%= image_tag image_path('whiteicon.png'), class: "img-responsive top-image" %>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 text-center main-section-about" id="about-section">
            <%= render :partial => "about" %>
        </div>
       
    </div>
    <div class="row">
        <div class="col-xs-12 text-center main-section-services" id="services-section">
            <%= render :partial => "services" %> 
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6 carousel-div">
                <div class="one-time">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                </div>
            </div>
            <div class="col-sm-3">
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center main-section-contact" id="contact-section">
            <%= render :partial => "contact" %> 
            <div class="form-style-2">
<div class="contact-wrapper">
    <div class="form-style-2-heading">PROVIDE YOUR INFORMATION</div>
    <form action="" method="post">
        <label for="field1">
            <span>Name <span class="required">*</span></span>
            <input type="text" class="input-field" name="field1" value="" />
        </label>
        <label for="field2">
            <span>Email <span class="required">*</span></span>
            <input type="text" class="input-field" name="field2" value="" />
        </label>
        <label>
            <span>Telephone</span>
            <input type="text" class="tel-number-field" name="tel_no_1" value="" maxlength="4" />
            -<input type="text" class="tel-number-field" name="tel_no_2" value="" maxlength="4"  />
            -<input type="text" class="tel-number-field" name="tel_no_3" value="" maxlength="10"  />
        </label>

        <label for="field4">
            <span>Regarding</span>
            <select name="field4" class="select-field">
                <option value="General Question">General</option>
                <option value="Advertise">Advertisement</option>
                <option value="Partnership">Partnership</option>
            </select>
        </label>
        <label for="field5">
            <span>Message <span class="required">*</span></span>
            <textarea name="field5" class="textarea-field"></textarea>
        </label>
        <label>
            <span>&nbsp;</span>
            <input type="submit" value="Submit" />
        </label>
    </form>
</div> <!-- /.contact-wrapper -->
</div>
        </div>
    </div>
        
    </div>
</div>




