<div class="container-fluid top-layer">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center top-page">
            <div class="spacer"></div>
            <%= image_tag image_path('jpjenningslogo.png'), class: "img-responsive main-img center-block" %>
            <hr class="landing-page-line">
            <div class="text-wrapper">
                <div class="col-xs-2"></div>
                <div class="col-xs-2 main-page-links lead"><a href="#" onclick="handleMainPageLink('ABOUT')">about</a></div>
                <div class="col-xs-2 main-page-links lead"><a href="#" onclick="handleMainPageLink('SERVICES')">services</a></div>
                <div class="col-xs-2 main-page-links lead"><a href="#" onclick="handleMainPageLink('CLIENTS')">clients</a></div>
                <div class="col-xs-2 main-page-links lead"><a href="#" onclick="handleMainPageLink('CONTACT')">contact</a></div>
                <div class="col-xs-2"></div>
            </div>

        </div>

        <hr>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center about-section" id="main-section">
            <%= render :partial => "about" %>
        </div>
    </div>
            <%= render :partial => "services" %>
            <%= render :partial => "clients" %>
            <%= render :partial => "contact" %>
              <div class="col-xs-12 col-md-12 text-center">
            
        </div>
        </div>
       
    </div>
    <div class="row">
        
    </div>
</div>

<script>
    var handleMainPageLink = function(string) {
        $('html, body').animate({scrollTop: $("#main-section").offset().top}, 1000);
        switchPartial(string)
    }
    var switchPartial = function(string) {
        $('.partial').hide();
        $('#'+ string.toLowerCase() +'_partial').show();
    }
</script>   



