<div class="container-fluid top-layer">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center top-page">
         <div class="spacer"></div>
         <div class="col-xs-12 col-md-12 text-center">
           
            <%= image_tag image_path('jpjenningslogo.png'), class: "img-responsive main-img center-block" %>
            <div class="text-wrapper">
                <hr>
                <div class="col-xs-2"></div>
                <div class="col-xs-2 main-page-link lead"><a href="#" onclick="handleMainPageLink('ABOUT')">ABOUT</a></div>
                <div class="col-xs-2 main-page-link lead"><a href="#" onclick="handleMainPageLink('SERVICES')">SERVICES</a></div>
                <div class="col-xs-2 main-page-link lead"><a href="#" onclick="handleMainPageLink('CONTACT')">CONTACT</a></div>
                <div class="col-xs-2"></div>
            </div>
             <%= image_tag image_path('whiteicon.png'), class: "img-responsive top-image" %>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 text-center main-section" id="main-section">
            <%= render :partial => "about" %>
            <%= render :partial => "contact" %> 
            <%= render :partial => "services" %>
              <div class="col-xs-12 col-md-12 text-center">
                 
        </div>
        </div>
       
    </div>
    <div class="row">
        
    </div>
</div>

<script>
    var handleMainPageLink = function(string) {
        $('html, body').animate({scrollTop: $("#main-section").offset().top}, 1000);
        switchPartial(string)
    }
    var switchPartial = function(string) {
        $('.partial').hide();
        $('#'+ string.toLowerCase() +'_partial').show();
    }
</script>   





